h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
    font-size: 1.5;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .5em;
}

ul{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}

div{
    border: 10px black;
}

ol>div{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

header{
    background-color: beige;
    padding: 20px;
}

footer{
    background-color: beige;
    padding: 20px;
}

