h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
    font-size: 1.5;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .5em;
    padding: 20px;
}

ul{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}

.recipe{
    border: 1px solid black;
    width: 1000px;
    height: 275px;
    padding: 20px;
    margin: 20px;
}

#forbutton{
    font-style: italic;
}

.button{
    width: 1000px;
    height: 100px;
    color: rebeccapurple;
    background-color: aliceblue;
    font-size: large;
    font-weight: bold;
}

.button:hover{
    background-color: blanchedalmond;
    text-decoration: solid;
}

a:hover{
    background-color: brown;
}

div>ol{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header{
    background-color: beige;
    padding: 20px;
    border-radius: 30px;
}

footer{
    background-color: beige;
    padding: 20px;
    border-radius: 30px;
}

